<?xml version="1.0" encoding="UTF-8"?>
<config>
    <ConfigId:PrepareWikiDb>en</ConfigId:PrepareWikiDb>
    <PrepareWikiDb:en>
        <db>mysql://root:123456@localhost/wiki</db>
        <disambigStr>disambig</disambigStr>
        <hnDisambigStr>hndis</hnDisambigStr>
        <lang>en</lang>
    </PrepareWikiDb:en>
    <ArticleIndexer>
        <db>mysql://root:123456@localhost/wiki</db>
        <indexPath>ndx_en</indexPath>
        <stopwordsFile>res/stopwords.en.txt</stopwordsFile>
        <stemmerClass>org.tartarus.snowball.ext.EnglishStemmer</stemmerClass>
        <query>
            <articleIter>SELECT page_id AS id\, page_id AS page_id\,
                'en' AS lang\, page.page_title\,
                text.old_text AS content FROM page_concepts AS page
                LEFT JOIN revision ON page_id = rev_page
                LEFT JOIN text ON rev_text_id = old_id
                WHERE page_id > ? ORDER BY page_id LIMIT 100
            </articleIter>
        </query>
    </ArticleIndexer>
    <ConfigId:ESAIndexBuilder>en</ConfigId:ESAIndexBuilder>
    <ESAIndexBuilder:en>
        <lang>en</lang>
        <db>mysql://root:123456@localhost/wiki</db>
        <esaIndexPath>ndx_en</esaIndexPath>
        <minTermFreq>3</minTermFreq>
    </ESAIndexBuilder:en>
    <ESAIndexer>
        <articleDb>mysql://root:123456@localhost/wiki</articleDb>
        <esaDb>mysql://root:123456@localhost/wiki</esaDb>
        <destDb>mysql://root:123456@localhost/wiki</destDb>
        <destTableName>esa_vector_index</destTableName>
        <esaVectorSize>100</esaVectorSize>
        <lang>en</lang>
        <stopWordsFile>res/stopwords.en.txt</stopWordsFile>
        <stemmerClass>org.tartarus.snowball.ext.EnglishStemmer</stemmerClass>
        <query>
            <articleIter>
                SELECT page_id AS id\, page_id\, page.page_title\, text.old_text AS content
                FROM page_concepts AS page LEFT JOIN revision ON page_id = rev_page
                LEFT JOIN text ON rev_text_id = old_id WHERE page_id > ? ORDER BY page_id LIMIT 100
            </articleIter>
        </query>
    </ESAIndexer>
    <ConfigId:ESAAnalyzer>en</ConfigId:ESAAnalyzer>
    <ESAAnalyzer:kw>
        <db>sqlite://root:root@localhost/esa_zh.db</db>
        <lang>zh</lang>
        <stemmerClass></stemmerClass>
        <stopWordsFile>res/stopwords.zh.txt</stopWordsFile>
    </ESAAnalyzer:kw>
    <ESAAnalyzer:en>
        <db>sqlite://root:root@localhost/esa_db.db</db>
        <lang>en</lang>
        <stemmerClass>*porter</stemmerClass>
        <stopWordsFile>res/stopwords.en.txt</stopWordsFile>
    </ESAAnalyzer:en>
    <ESAAnalyzer:ensb>
        <db>sqlite://root:root@localhost/esa_en.db</db>
        <lang>en</lang>
        <stemmerClass>org.tartarus.snowball.ext.EnglishStemmer</stemmerClass>
        <stopWordsFile>res/stopwords.en.txt</stopWordsFile>
    </ESAAnalyzer:ensb>
</config>
