<?xml version="1.0" encoding="UTF-8"?>
<config>
    <ConfigId:PrepareWikiDb>en</ConfigId:PrepareWikiDb>
    <PrepareWikiDb:en>
        <db>mysql://root:123456@localhost/wiki</db>
        <disambigStr>disambig</disambigStr>
        <hnDisambigStr>hndis</hnDisambigStr>
        <lang>en</lang>
    </PrepareWikiDb:en>
    <ArticleIndexer>
        <db>mysql://root:123456@localhost/wiki</db>
        <indexPath>ndx_en</indexPath>
        <stopwordsFile>res/stopwords.en.txt</stopwordsFile>
        <stemmerClass>org.tartarus.snowball.ext.EnglishStemmer</stemmerClass>
        <query>
            <articleIter>SELECT page_id AS id\, page_id AS page_id\,
                'en' AS lang\, page.page_title\,
                text.old_text AS content FROM page_concepts AS page
                LEFT JOIN revision ON page_id = rev_page
                LEFT JOIN text ON rev_text_id = old_id
                WHERE page_id > ? ORDER BY page_id LIMIT 100
            </articleIter>
        </query>
    </ArticleIndexer>
    <ConfigId:ESAIndexBuilder>zh</ConfigId:ESAIndexBuilder>
    <ESAIndexBuilder:kw>
        <lang>zh</lang>
        <db>sqlite://root:root@localhost/esa_zh.db</db>
        <esaIndexPath>/xdisk/tmp/esa_ndx_zh/</esaIndexPath>
        <minTermFreq>3</minTermFreq>
    </ESAIndexBuilder:kw>
    <ConfigId:ESAAnalyzer>en</ConfigId:ESAAnalyzer>
    <ESAAnalyzer:kw>
        <db>sqlite://root:root@localhost/esa_zh.db</db>
        <lang>zh</lang>
        <stemmerClass></stemmerClass>
        <stopWordsFile>res/stopwords.zh.txt</stopWordsFile>
    </ESAAnalyzer:kw>
    <ESAAnalyzer:en>
        <db>sqlite://root:root@localhost/esa_db.db</db>
        <lang>en</lang>
        <stemmerClass>*porter</stemmerClass>
        <stopWordsFile>res/stopwords.en.txt</stopWordsFile>
    </ESAAnalyzer:en>
    <ESAAnalyzer:ensb>
        <db>sqlite://root:root@localhost/esa_en.db</db>
        <lang>en</lang>
        <stemmerClass>org.tartarus.snowball.ext.EnglishStemmer</stemmerClass>
        <stopWordsFile>res/stopwords.en.txt</stopWordsFile>
    </ESAAnalyzer:ensb>
</config>
